
@font-face {font-family: "Segoe Print"; src: url("//db.onlinewebfonts.com/t/d7abfa52675c67654ecc2a8213bc58ae.eot"); 
                                        src: url("//db.onlinewebfonts.com/t/d7abfa52675c67654ecc2a8213bc58ae.eot?#iefix") format("embedded-opentype"), 
                                            url("//db.onlinewebfonts.com/t/d7abfa52675c67654ecc2a8213bc58ae.woff2") format("woff2"), 
                                            url("//db.onlinewebfonts.com/t/d7abfa52675c67654ecc2a8213bc58ae.woff") format("woff"), 
                                            url("//db.onlinewebfonts.com/t/d7abfa52675c67654ecc2a8213bc58ae.ttf") format("truetype"), 
                                            url("//db.onlinewebfonts.com/t/d7abfa52675c67654ecc2a8213bc58ae.svg#Segoe Print") format("svg"); }

body {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(74.12deg, #1E2B32 45.39%, #2E3368 81.36%);
    color: white;
    align-items:center;

}

.navbar-nav{
    font-family: 'Segoe Print', sans-serif;
    font-weight: 300;
}
.headline {
    font-family: 'Saira Stencil One', cursive;
    color: #FBAF31;
    /* font-size: 48px; */
}

.countdown {
    font-family: 'Saira Stencil One', cursive;
    font-style: normal;
    font-weight: 400;
    /* font-size: 64px; */
    line-height: 101px;
    display: flex;
    justify-content: center;
      
}

.time {
    display: flex;
    color: #FBAF31;
}

.desc {
    display: flex;
    color: #Ffffff;
}

.quote {
    margin-top: 10%;
    height:170px;
    background: #FBAF31;
    border-radius: 50px;
    filter: blur(50px);
}

.quotes {
    background: #1E2B32;
    border-radius: 50px;
    height:170px;
    margin-top: -13%;
    
}

.col {
    color: #ffffff;
    font-family:'Segoe Print',sans-serif;
}

/* Popup */
.popup {
  display: none;
  position: relative;
  background-color:#1f343f;
  color:#ffffff;
  border-radius:5px;
  padding:20px;
  z-index: 9;
  font-family:'Segoe Print',sans-serif;
  justify-content: center;
  width:fit-content;
}

.close-button{
  background: #FBAF31;
  color:white;
  border-radius:5px;
  padding:10px;
  border:none;
}